{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Fragebogen (1/11)
{% endblock %}

{% block content %}

<p>
    {{Constants.forms.FRAGEN1.task}}
</p>

<div style="margin: 30px">
    <p>
        {{form.F101.label}}
    </p>
    <table style="margin-top: -10px">
        <tr class="figure-caption">
            <td style="padding-right: 10px">
                {{Constants.forms.FRAGEN1Q1.label.1}}
            </td>
            {{for i in form.F101}}
            <td style="padding-right: 10px">
                {{i}}
            </td>
            {{endfor}}
            <td style="padding-right: 10px">
                {{Constants.forms.FRAGEN1Q1.label.2}}
            </td>
        </tr>
    </table>
</div>

<div style="margin: 30px">
    <p>
        {{form.F102.label}}
    </p>
    <table style="margin-top: -10px">
        <tr class="figure-caption">
            <td style="padding-right: 10px">
                {{Constants.forms.FRAGEN1Q2.label.1}}
            </td>
            {{for i in form.F102}}
            <td style="padding-right: 10px">
                {{i}}
            </td>
            {{endfor}}
            <td style="padding-right: 10px">
                {{Constants.forms.FRAGEN1Q2.label.2}}
            </td>
        </tr>
    </table></div>

<p>
    Bitte klicken Sie nun auf <em>Weiter</em>, um fortzufahren.
</p>

{% next_button %}
{% endblock %}
