{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Textverständnis
{% endblock %}

{% block content %}

<p>
    Bitte beantworten Sie die folgenden Fragen.
</p>

<div class="alert p-4">
    <p>
        {{form.PR01.label}}
    </p>
    <p>
        {{form.PR01}}
    </p>
</div>
<div class="alert p-4">
    <p>
        {{form.PR02.label}}
    </p>
    <p>
        {{form.PR02}}
    </p>
</div>
<div class="alert p-4">
    <p>
        {{form.PR03.label}}
    </p>
    <p>
        {{form.PR03}}
    </p>
</div>

<p>
    {{Constants.data.PR2.task}}
</p>

<div class="alert p-4">
    <p>
        {{form.PR04.label}}
    </p>
    <table>
        <tr>
            <td>
                {{Constants.data.PR2.label.1}}
            </td>
            {{for i in form.PR04}}
            <td class="text-center" width="30px">
                {{i}}</td>
            {{endfor}}
            <td>
                {{Constants.data.PR2.label.2}}
            </td>
        </tr>
    </table>
</div>

<div class="alert p-4">
    <p>
        {{form.PR05.label}}
    </p>
    <table>
        <tr>
            <td>
                {{Constants.data.PR2.label.1}}
            </td>
            {{for i in form.PR05}}
            <td class="text-center" width="30px">
                {{i}}</td>
            {{endfor}}
            <td>
                {{Constants.data.PR2.label.2}}
            </td>
        </tr>
    </table>
</div>

<p>
    Bitte klicken Sie nun auf <em>Weiter</em>, um fortzufahren.
</p>

{% next_button %}
{% endblock %}
