{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Text lesen
{% endblock %}

{% block content %}

<p>
    Bitte lesen Sie den Text aufmerksam durch.
</p>
<div class="alert p-4">
    <p>
        Im Oktober 2018 jährte sich die Gründung der Rheinischen Friedrich-Wilhelms-Universität Bonn zum 200. Mal.
        In der Geschichte der Universität Bonn spiegelt sich im hohen Maße die deutsche Geschichte im 19. Und 20.
        Jahrhundert wider. Die abwechslungsreiche Vergangenheit zwischen Politik, Forschung, Studenten und Zeitgeschehen
        wurde anlässlich des Jubiläums 2018 in der vierbändigen Schrift "Geschichte der Universität Bonn" zusammengetragen.
        Rund 70 Autorinnen und Autoren aus allen Fakultäten haben an dem Festband mitgearbeitet, der die Geschichte der Alma
        Mater Bonnensis in verschiedenen Facetten detailliert darstellt. Dieser Band wurde, nach gut 10 Jahren Arbeit, in
        einer Festveranstaltung im Festsaal der Universität präsentiert.
    </p>
    <p>
        Heute ist die Universität Bonn mit über 38.000 Studenten (Stand Mai 2018) eine der größeren deutschen Hochschulen
        und gehört dabei, nach dem britischen Magazin "Times Higher Education", zudem unter die Top 10 der deutschen
        Universitäten. Auch im "World University Ranking" steht sie mit Platz 110 von 1.250 auf hoher Position.
    </p>
    <p>
        Die Universitä Bonn gehört somit zu den bedeutendsten Forschungsuniversitäten in Deutschland und genießt auch
        weltweit einen sehr guten Ruf. Das lässt sich auch an der Förderung in der Exzellenzinitiative des Bundes und der
        Länder durch die Deutsche Forschungsgemeinschaft (DFG) und den Wissenschaftsrat ablesen. 2006 warb die Universität
        Bonn zwei Exzellenzcluster und zwei Graduiertenschulen ein. Seit Januar 2019 hat die Universität Bonn sechs
        Exzellenzcluster, mehr als jede andere Hochschule in Deutschland. Damit ist Bonn eine der erfolgreichsten Hochschulen
        im deutschen Wettbewerb.
    </p>
</div>


<p>
    Bitte klicken Sie nun auf <em>Weiter</em>, um fortzufahren.
</p>

{% next_button %}
{% endblock %}
